
/* Objects for the GUI */

div.var_label, span.var_label {
    font-size: 10px;
    color: royalblue;
    user-select: none;
}

input {
    font-size: 10px;
}

div.process_var, span.process_var, label.process_var {
    position: absolute;
    white-space: nowrap;
    width:50px;
    height:16px;
    color: #003399;
    background-color: lightyellow;
    text-align: center;
    font-size: 12px;
    border: 1px solid #c4c4c4;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 2px 2px 2px #d9d9d9;
    -moz-box-shadow: 2px 2px 2px #d9d9d9;
    -webkit-box-shadow: 2px 2px 8px #d9d9d9;
    padding-left: 2px;
    user-select: none;
}

.ro_bool {
    width: 30px;
    font-size: 8px;
}

.ro_bool_off {
    background-color: lightgray;
    height: 18px;
}

.ro_bool_on {
    background-color: darkred;
    height: 18px;
}

b,i {
    color: purple;
}

pre {
    color: black;
    margin-top: 0;
}

.unimplementedContainer {
    position: relative;
    height: 200px;
    overflow-y: scroll;
}