<div data-dojo-attach-point="containerNode">
  <div class="loadBody domainObjectBody">
    <div class="loadDataDiv basePanelTable">
 
	  <div class="basePanelTableRow">
        <span data-dojo-attach-point="controlName"
        class="basePanelTableCell basePanelLabel loadDataTitle">
        </span>
      </div>

      <div class="basePanelTableRow">
        <span data-dojo-attach-point="timestampDiv"
        class="basePanelTableCell basePanelLabel loadDataTitle">
        </span>
      </div>

	  <div class="basePanelTableRow">
        <span class="basePanelTableCell basePanelLabel loadDataLabel"
        data-dojo-attach-point="Load_Current_Label">
        Load Current
        </span>
        <span class="basePanelTableCell basePanelInfoBox loadDataItem loadDataRightAlign"
        data-dojo-attach-point="Load_Current_Span"></span>
      </div>
      
	  <div class="basePanelTableRow">
        <span class="basePanelTableCell basePanelLabel loadDataLabel"
        data-dojo-attach-point="Load_Voltage_Label">
        Load Voltage
        </span>
        <span class="basePanelTableCell basePanelInfoBox loadDataItem loadDataRightAlign"
        data-dojo-attach-point="Load_Voltage_Span"></span>
      </div>

	  <div class="basePanelTableRow">
        <span class="basePanelTableCell basePanelLabel loadDataLabel"
        data-dojo-attach-point="Load_Power_Label">
        Load Power
        </span>
        <span class="basePanelTableCell basePanelInfoBox loadDataItem loadDataRightAlign"
        data-dojo-attach-point="Load_Power_Span"></span>
      </div>

	  <div class="basePanelTableRow">
        <span class="basePanelTableCell basePanelLabel loadDataLabel"
        data-dojo-attach-point="Load_Resist_Label">
        Load Resistance
        </span>
        <span class="basePanelTableCell basePanelInfoBox loadDataItem loadDataRightAlign"
        data-dojo-attach-point="Load_Resist_Span"></span>
      </div>

	  <div class="basePanelTableRow">
        <span class="basePanelTableCell basePanelLabel loadDataLabel"
        data-dojo-attach-point="Amp_Hours_Label">
		NA
        </span>
        <span class="basePanelTableCell basePanelInfoBox loadDataItem loadDataRightAlign"
        data-dojo-attach-point="Amp_Hours_Span"></span>
      </div>

	  <div class="basePanelTableRow">
        <span class="basePanelTableCell basePanelLabel loadDataLabel"
        data-dojo-attach-point="OVP_Setpoint_Label">
        NA
        </span>
        <span class="basePanelTableCell basePanelInfoBox loadDataItem loadDataRightAlign"
        data-dojo-attach-point="OVP_Setpoint_Span"></span>
      </div>

	  <div class="basePanelTableRow">
        <span class="basePanelTableCell basePanelLabel loadDataLabel"
		data-dojo-attach-point="OutSense_Label">
        NA
        </span>
        <span class="basePanelTableCell basePanelInfoBox loadDataItem loadDataRightAlign"
        data-dojo-attach-point="OutSense_Span"></span>
      </div>

	  <div class="basePanelTableRow">
        <span class="basePanelTableCell basePanelLabel loadDataLabel"
		data-dojo-attach-point="LoadStatus_Label">
        Status
        </span>
        <span class="basePanelTableCell basePanelInfoBox loadDataItem loadDataRightAlign"
        data-dojo-attach-point="LoadStatus_Span"></span>
      </div>

	  <div class="basePanelTableRow">
        <span class="basePanelTableCell basePanelLabel loadDataLabel"
		data-dojo-attach-point="LoadFault_Label">
        Fault
        </span>
        <span class="basePanelTableCell basePanelInfoBox loadDataItem loadDataRightAlign"
        data-dojo-attach-point="LoadFault_Span"></span>
      </div>
	  
	</div>
  </div>
</div>
