<div data-dojo-attach-point="containerNode">
    <button data-dojo-attach-point="undoButton" data-dojo-type="dijit/form/Button" type="button" title="undo zoom"
        data-dojo-props="iconClass:'urUndoIcon', showLabel: false"
        data-dojo-attach-event="onClick:_onUndoClick">
    </button>
    <button data-dojo-attach-point="redoButton"  data-dojo-type="dijit/form/Button" type="button" title="redo zoom"
        data-dojo-props="iconClass:'urRedoIcon', showLabel: false"
        data-dojo-attach-event="onClick:_onRedoClick">
    </button>
</div>
