/* layout for IoPanel */
/* release path 
@import url("../../../dojox/grid/resources/Grid.css");
@import url("../../../dojox/grid/resources/soriaGrid.css");
*/

/* dev path */
@import url("../../../../dojo-toolkit/dojox/grid/resources/Grid.css");
@import url("../../../../dojo-toolkit/dojox/grid/resources/soriaGrid.css");

@import url("../../../themes/basePanel/basePanel.css");
@import url("../../../widget/iPhoneButton/css/iPhoneButton.css");

div.ioPanel
{
    height: 100%;
    width: 100%;
    margin:0px;
    padding:0px;
}

div.ioBorder
{
    height: 100%;
    width: 100%;
}

div.ioLeftPane
{
    position:relative;
    width: 33%;
    overflow:auto;
}

div.ioCenterPane
{
    height: 100%;
    overflow:auto;
}

div.ioRightPane
{
    height: 100%;
    width: 33%;
    overflow:auto;
}

div.ioInnerPane
{
    position:relative;
    width: 100%;
    overflow:auto;
}

.ioControlRow
{
    padding:3px;
}