/* layout for PlayBack widget */
/* release path */

/* dev path */


@import url("../../../themes/basePanel/basePanel.css");


div.playBack
{
    height: 50px;
    margin:5px;
    padding:0px;
}

div.pbPauseLength
{
    width: 130px;
}

div.pbNoPauseLength
{
    width: 90px;
}

.pbButtonFrame
{
    height: 40px;
    width: 40px;
}

.pbShowButton
{
    position: static;
    float:left;
    visibility:visible;
}

.pbHideButton
{
    position:absolute;
    left:0px;
    visibility:hidden;
}

.pbPlayIcon
{
    height:30px;
    width:30px;
    background: url(../images/playIcon.png) no-repeat right 0;
}

.pbPauseIcon
{
    height:30px;
    width:30px;
    background: url(../images/pauseIcon.png) no-repeat right 0;
}

.pbStopIcon
{
    height:30px;
    width:30px;
    background: url(../images/stopIcon.png) no-repeat right 0;
}

.pbStopButtonsDiv
{
    padding:5px;
}

.pbSelectDisabled
{
    border-style:solid;
    border-width:2px;
    /* light gray */
    border-color:#B0B0B0;
}
