/* layout for SystemConfigurator */
/* release path 
@import url("../../../dojox/grid/resources/Grid.css");
@import url("../../../dojox/grid/resources/soriaGrid.css");
*/

/* dev path */
@import url("../../../themes/basePanel/basePanel.css");
@import url("../../../control/subsystemConfigurator/css/subsystemConfigurator.css");

div.systemConfiguratorPanel
{
    position:relative;
    height: 100%;
    width: 100%;
    margin:0px;
    padding:5px;
}

div.scSystemSelectDiv
{
    margin-bottom:10px;
}

div.scSubsystemDiv
{
    /*position:absolute;
    top:5px;
    left:350px;*/
}

div.scSubsystemsButtonsDiv
{
    margin-left:5px;
    margin-bottom:5px;
}

div.scNewSystemDialog
{
    width:350px;
}

.scSystemTableCell-labelCell
{
    padding-top:5px;
    padding-bottom:5px;
}

.scSystemTableCell-valueCell
{
    padding-top:5px;
    padding-bottom:5px;
}

.scNumberSpinner.dijitTextBox.dijitSpinner.dijitNumberTextBox.dijitValidationTextBox
{
    width:50px;
}

div.scNewSystemButtonDiv
{
    margin:20px;
}