/* layout for ChemistryDataEditor */
/* release path 
@import url("../../../dojox/grid/resources/Grid.css");
@import url("../../../dojox/grid/resources/soriaGrid.css");
*/

/* dev path */
@import url("../../../themes/basePanel/basePanel.css");

div.chemistryDataEditor
{
    position:relative;
    height: 100%;
    margin:0px;
    padding:5px;

}

.cdeTableCell-labelCell
{
    padding-top:3px;
    padding-bottom:3px;
}

.cdeTableCell-valueCell
{
    padding-top:3px;
    padding-bottom:3px;
}

div.cdeNumberTextBox
{
    width:30px;
}

.cdeLogEntry
{
    width:100px;
}

/* selector used for toggling read-only items */
.cdeReadOnly
{
}
