
# 9/14/2020 - Greg Morehead, new directory layout for simpleui-service

[Unit]
Description=SimpleUI Server for App {{APP_NAME}}

[Service]
Type=simple
ExecStart=/usr/bin/node /var/www/{{APP_NAME}}/simpleui-server/simpleui-server.js --mode=daemon --appName={{APP_LIST}} --webPort={{APP_PORT}}
WorkingDirectory=/var/www/{{APP_NAME}}/simpleui-server

User=service
Group=service

# Environment variables:
Environment=NODE_ENV=production

# Allow many incoming connections
LimitNOFILE=infinity

# Allow core dumps for debugging
LimitCORE=infinity

StandardInput=null
StandardOutput=syslog
StandardError=syslog
Restart=always

[Install]
WantedBy=multi-user.target
