<div data-dojo-attach-point="containerNode">
    <div data-dojo-attach-point="commentDialog" data-dojo-type="dijit/Dialog" title="Write an entry">
        <textarea data-dojo-attach-point="logEntry" data-dojo-type="dijit/form/SimpleTextarea" rows="4" cols="50" style="width: 95%"
            data-dojo-attach-event="onMouseDown:_onLogEntryUserAction, onKeyDown:_onLogEntryUserAction"></textarea>
        <div class="registerButtonsDiv">
            <button data-dojo-type="dijit/form/Button" type="submit" data-dojo-attach-event="onClick:_onSubmitClick">
                Save</button>
            <button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-event="onClick:_onCancelClick">
                Cancel</button>
        </div>
    </div>

    <div class="pbButtonFrame pbShowButton">
        <button data-dojo-attach-point="showButton" data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'cPenIcon'"
            data-dojo-attach-event="onClick:_onShowClick"  title="write an entry">
        </button>
    </div>
</div>
