/* layout for SubsystemConfigurator */
/* release path 
@import url("../../../dojox/grid/resources/Grid.css");
@import url("../../../dojox/grid/resources/soriaGrid.css");
*/

/* dev path */
@import url("../../../themes/basePanel/basePanel.css");
@import url("../../../widget/binaryMomentaryButton/css/binaryMomentaryButton.css");
@import url("../../../widget/comment/css/comment.css");
@import url("../../dateTime/css/dateTime.css");

div.subsystemConfiguratorControl
{
    position:relative;
    height: 100%;
    display:table;
    margin:5px;

    /* copied from .basePanelControlBorder */
    padding:5px;
    border-style:solid;
    border-width:1px;
    border-color: #B1BADF;
}

div.sccNameDiv
{
    padding:5px;
}

div.sccContentContainer
{
    overflow:visible;
}

/* for arranging content blocks */
div.sccContent
{
    float:left;
    margin:5px;
}

div.sscBatteries
{
    width:110px;
}

div.sccTimeStamp
{
    padding:5px;
    width: 200px;
}

div.sscLogEntries
{
    padding:5px;
}

.sccLogEntriesChild
{
    margin:10px;
    width:400px;
}

.sscLogEntry
{
    background-color:InfoBackground;
}

div.sscSlot
{
    position:relative;
    height:30px;
    width:110px;
}

.sscSerialNum
{
    display:inline-block;
    vertical-align:middle;
    margin:5px;
}

div.sscAddRemove
{
    position:absolute;
    left:80px;
    top:0px;
}
