/* layout for WindowSelectControl */
/* release path */
/*@import url("../../../dojox/charting/resources/Legend.css");*/

/* dev path */
@import url("../../../widget/fadeoutAlertBox/css/fadeoutAlertBox.css");
@import url("../../../widget/collapseToggle/css/collapseToggle.css");
@import url("../../../widget/iPhoneButton/css/iPhoneButton.css");

div.windowSelectControl
{
    height: 100%;
    width: 100%;
}

div.wscAccordian
{
    height: 100%;
}

div.wscRTControlDiv
{
    height: 100%;
}

div.wscDateTimeBox
{
    margin: 5px;
    height: 120px;
}

div.wscInputBlock
{
    margin: 20px 0px 30px 0px;
}

.wscInputBlockTitle
{
    /*padding-left: 5px;*/
    font-weight:bold;
}

.wscInput
{
    margin: 2px 5px 2px 0px;
}

.wscTriggerSelect
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.wscTriggerDiv
{
    visibility:hidden;
}

.wscTriggerToggle
{
    position:absolute;
    right:5px;
}

.wscInputControl
{
    width: 50px;
}





