/* layout for BinaryRadioButton widget */
/* release path */

/* dev path */


@import url("../../../themes/basePanel/basePanel.css");


div.binaryRadioButton
{
    height: 15px;
    width: 100%;

    margin:0px;
    padding:5px;
}

.brbLabelA
{
    margin-right:10px;
}


