/* layout for MultimodeChartPanel */
@import url("../../../control/windowSelect/css/windowSelect.css");
@import url("../../../widget/fadeoutAlertBox/css/fadeoutAlertBox.css");
@import url("../../movingWindowChart/css/movingWindowChart.css");

div.multimodeChartPanel
{
    height: 100%;
    width: 100%;
    position:relative;
}

div.multimodeChartBorder
{
    height: 100%;
    width: 100%;
}

div.multimodeLeftPane
{
    /*height: 100%;*/
    width: 197px;
}

div.multimodeRightPane
{
    overflow:hidden;
    position:relative;
}

div.realTimeControlDiv
{
}

div.multimodeSelect
{
    height: 35px;
    padding:5px;
}

div.multimodeWindowSelectorDiv
{
    /* Conflicting Absolute Positions pattern to stretch height to fill parent */
    position:absolute;
    top:50px;
    left:5px;
    right:5px;
    bottom:5px;
}

div.multimodeMenuBar
{
    position:relative;
    width:100%;
}

.noCookieIcon
{
    position:absolute;
    top:4px;
    right:4px;
}

div.multimodeChartBox
{
    width:100%;
    height:100%;
}

.multimodeMenuHeader
{
    font-size:large;
}


