/* layout for ProjectSummaryPanel */
/* release path */
@import url("../../../dojox/grid/resources/Grid.css");
@import url("../../../dojox/grid/resources/soriaGrid.css");
@import url("../../../dojox/charting/resources/Legend.css");

/* dev path */
@import url("../../../dojo-toolkit/dojox/grid/resources/Grid.css");
@import url("../../../dojo-toolkit/dojox/grid/resources/soriaGrid.css");
@import url("../../../dojo-toolkit/dojox/charting/resources/Legend.css");

/* universally applicable path */
@import url("../ledStack/ledStack.css");

div.projectSummaryPanel 
{
    height: 100%;
    width: 100%;
}


div.projectSummaryBorder
{
    height: 100%;
    width: 100%;
}


div.projectSummaryLeftPane
{
    /*height: 100%;*/
    width: 300px;
}


div.projectSummaryRightPane
{
    /*height: 100%;*/
}

.gridDataBox td
{
    border: solid 1px;
}

th.gridDataLabel
{
    width: 210px;
    background-color: #E1EBFB;
    /*background-color: Menu;*/
    padding: 5px;
}

td.gridDataValue
{
    width: 70px;
    background-color: White;
    padding: 5px;
    text-align: center;
}

div.ctrlNumberSpinner
{
    width: 50px;
}

.controlDiv-table
{
    margin-top: 5px;
    margin-bottom: 15px;
}

div.psIdGrid
{
    height: 55px;
    width: 100%;
}




