<mat-dialog-content [formGroup]='form'>
    <mat-table>
        <mat-row>
            <mat-cell mat-dialog-title [attr.colspan]="2">{{getCommandField('label')}}</mat-cell>
        </mat-row>

        <mat-row *ngIf="(noControls === false) && getDescription() !== ''">
            <mat-form-field>
                <mat-cell [attr.colspan]="2"><i>{{getCommandField('desc')}}</i><br/>&nbsp;</mat-cell>
            </mat-form-field>
        </mat-row>

        <mat-row *ngIf='noControls'>
            <mat-form-field>
                <mat-cell [attr.colspan]="2">Execute command <i>{{cmd}}</i> ?</mat-cell>
            </mat-form-field>
        </mat-row>

        <mat-row *ngFor='let control of getControls(commandData)'>

            <mat-form-field *ngIf='control.type === "date"'>
                <label>
                    <mat-cell>{{control.name}}:&nbsp;</mat-cell>
                    <mat-cell>
                        <input [id]='"popup-control-" + control.id'   [value]='control.value' matInput [matDatepicker]='myDatepicker' [title]="control.desc">
                        <mat-datepicker-toggle matSuffix [for]='myDatepicker'>
                        </mat-datepicker-toggle>
                        <mat-datepicker #myDatepicker></mat-datepicker>
                    </mat-cell>
                </label>
            </mat-form-field>

            <mat-form-field *ngIf='control.type === "dropdown"'>
                <label>
                    <mat-cell>{{control.label}}:</mat-cell>
                    <mat-cell><select [id]='"popup-control-" + control.id'><option *ngFor='let choice of getChoices(control)'>{{choice}}</option></select></mat-cell>
                </label>
            </mat-form-field>

            <mat-form-field *ngIf='control.type === "bool"'>
                <label>
                    <mat-cell [attr.[attr.colspan]]="2"><input type='checkbox' [id]="'popup-control-' + control.id" [attr.aria-label]="'labelFor-' + control.id"
                         [checked]='control.checked'  name='control.name' matInput placeholder='control.name' [title]="control.desc">{{control.label}}
                    </mat-cell>
                </label>
            </mat-form-field>

            <mat-cell *ngIf='control.type === "int"'>{{control.label}}:</mat-cell>
            <mat-cell *ngIf='control.type === "int"'><input [id]='"popup-control-" + control.id'  [value]='control.value'  matInput placeholder='control.name' [title]="control.desc"></mat-cell>

            <mat-cell *ngIf='control.type === "float"'>{{control.label}}:</mat-cell>
            <mat-cell *ngIf='control.type === "float"'><input [id]='"popup-control-" + control.id'  [value]='control.value'  matInput placeholder='control.name' [title]="control.desc"></mat-cell>

            <mat-cell *ngIf='control.type === "text"'>{{control.label}}:</mat-cell>
            <mat-cell *ngIf='control.type === "text"'><input [id]='"popup-control-" + control.id'  [value]='control.value' matInput placeholder='control.name' [title]="control.desc"></mat-cell>

            <mat-cell *ngIf='control.type === "textarea"' [attr.colspan]="2">{{control.label}}:<br/>
                <textarea [id]='"popup-control-" + control.id'  matInput placeholder='control.desc' [title]="control.desc">{{control.value}}</textarea>
            </mat-cell>

        </mat-row>
    </mat-table>
</mat-dialog-content>

<mat-dialog-actions>
    <button class='mat-raised-button mat-primary' (click)='onOK()'>OK</button>
    <button class='mat-raised-button' (click)='onCancel()'>Cancel</button>
</mat-dialog-actions>
