<div mat-dialog-title>{{getCommandField('label')}}</div>
<div id="myMatPopupDialog">
    <form>
        <div *ngIf="(noControls === false) && getDescription() !== ''">
            <i>{{commandData.element['command'].desc}}</i><br/>&nbsp;
        </div>

        <div *ngIf='noControls === true'>
            <mat-form-field>
                Execute command <i>{{cmd}}</i> ?
            </mat-form-field>
        </div>

        <div *ngFor='let control of commandData.element["command"].controls'>
            <mat-form-field appearance="fill" *ngIf='control.type === "date"'>
                <mat-label>{{control.name}}&nbsp;({{control.type}})</mat-label>

                <input matInput [id]='"popup-control-" + control.id'
                       [formControl]="inputControl"
                       [value]='control.value'
                       [matDatepicker]='myDatepicker'
                       [title]="control.desc"
                />
                <mat-datepicker-toggle matSuffix [for]='myDatepicker'>
                </mat-datepicker-toggle>
                <mat-datepicker #myDatepicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf='control.type === "dropdown"'>
                <mat-label>{{control.name}}&nbsp;({{control.type}})</mat-label>
                <select matInput [id]='"popup-control-" + control.id'>
                <mat-option *ngFor='let choice of control["choices"]'>{{choice}}</mat-option></select>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf='control.type === "bool"'>
                <input matInput type='checkbox' [id]="'popup-control-' + control.id"
                       [formControl]="inputControl" [attr.aria-label]="'labelFor-' + control.id"
                       [checked]='control.checked'  name='control.name' placeholder="{{control.name}}"
                       [title]="control.desc">{{control.label}}
                />

            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf='control.type === "int"'>
                <mat-label>{{control.name}}&nbsp;({{control.type}})</mat-label>
                <input matInput [id]='"popup-control-" + control.id'
                       [formControl]="inputControl"
                       [value]="control.value"
                       placeholder="control.name"
                       [title]="control.desc"
                />
            </mat-form-field>

            <mat-form-field appearance="fill"  *ngIf='control.type === "float"'>
                <mat-label>{{control.name}}&nbsp;({{control.type}})</mat-label>
                <input matInput [id]='"popup-control-" + control.id'
                       [formControl]="inputControl"
                       [value]='control.value'
                       placeholder="{{control.name}}"
                       [title]="control.desc"
                />
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf='control.type === "text"'>
                <mat-label>{{control.name}}&nbsp;({{control.type}})</mat-label>
                <input matInput [id]='"popup-control-" + control.id'
                       [formControl]="inputControl"
                       [value]='control.value'
                       placeholder="{{control.name}}"
                       [title]="control.desc"/>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf='control.type === "textarea"'>
                <mat-label>{{control.name}}&nbsp;({{control.type}})</mat-label>
                <textarea matInput [id]='"popup-control-" + control.id'
                          [formControl]="inputControl"
                          placeholder="{{control.name}}"
                >{{control.value}}</textarea>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="(['data', 'dropdown', 'int', 'bool', 'float', 'text', 'textarea'].indexOf(control?.type) === -1)">
                <mat-label>Default&nbsp;({{control.type}})</mat-label>

                <input matInput [id]='"popup-control-" + control.id'
                       [formControl]="inputControl"
                       [value]='control.value'
                       placeholder="{{control.name}}"
                       [title]="control.desc"
                />
            </mat-form-field>
        </div>
    </form>
</div>

<div mat-dialog-actions>
    <button class='mat-raised-button mat-primary' (click)='onOK()'>OK</button>
    <button class='mat-raised-button' (click)='onCancel()'>Cancel</button>
</div>
