
button, input[type=button], html input[type=button], input[type=reset], input[type=submit] {
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    width: auto;
    min-width: 125px;
}

.mat-form-field {
    display: block;
    font-size: 14px;
}

textarea {
    height: 100px;
    resize: vertical;
}
