<div id="popupDialog">{{getCommandField('label')}}</div>
<div>
    <table>
        <tbody>
            <tr *ngIf="(noControls === false) && getDescription() !== ''">
                <ng-container>
                    <td [attr.colspan]="2"><i>{{getCommandField('desc')}}</i><br/>&nbsp;</td>
                </ng-container>
            </tr>
    
            <tr *ngIf='noControls'>
                <ng-container>
                    <td [attr.colspan]="2">Execute command <i>{{cmd}}</i> ?</td>
                </ng-container>
            </tr>
    
            <tr *ngFor='let control of getControls(commandData)'>
    
                <ng-container *ngIf='control.type === "date"'>
                    <label>
                        <td>{{control.name}}:&nbsp;</td>
                        <td>
                            <input [id]='"popup-control-" + control.id'   [value]='control.value' matInput [matDatepicker]='myDatepicker' [title]="control.desc">
                            <mat-datepicker-toggle matSuffix [for]='myDatepicker'>
                            </mat-datepicker-toggle>
                            <mat-datepicker #myDatepicker></mat-datepicker>
                        </td>
                    </label>
                </ng-container>
    
                <ng-container *ngIf='control.type === "dropdown"'>
                    <label>
                        <td>{{control.label}}:</td>
                        <td><select [id]='"popup-control-" + control.id'><option *ngFor='let choice of getChoices(control)'>{{choice}}</option></select></td>
                    </label>
                </ng-container>
    
                <ng-container *ngIf='control.type === "bool"'>
                    <label>
                        <td [attr.[attr.colspan]]="2"><input type='checkbox' [id]="'popup-control-' + control.id" [attr.aria-label]="'labelFor-' + control.id"
                             [checked]='control.checked'  name='control.name' matInput placeholder='control.name' [title]="control.desc">{{control.label}}
                        </td>
                    </label>
                </ng-container>

                <ng-container *ngIf='control.type === "int"'>
                    <td><label>{{control.label}}:</label></td>
                    <td><input [id]='"popup-control-" + control.id'  [value]='control.value'  matInput placeholder='control.name' [title]="control.desc"></td>
                </ng-container>

                <ng-container *ngIf='control.type === "float"'>
                    <td><label>{{control.label}}:</label></td>
                    <td><input [id]='"popup-control-" + control.id'  [value]='control.value'  matInput placeholder='control.name' [title]="control.desc"></td>
                </ng-container>

                <ng-container *ngIf='control.type === "text"'>
                    <td><label>{{control.label}}:</label></td>
                    <td><input [id]='"popup-control-" + control.id'  [value]='control.value' matInput placeholder='control.name' [title]="control.desc"></td>
                </ng-container>

                <ng-container *ngIf='control.type === "textarea"'>
                    <td [attr.colspan]="2"><label>{{control.label}}:</label><br/>
                        <textarea [id]='"popup-control-" + control.id'  matInput placeholder='control.desc' [title]="control.desc">{{control.value}}</textarea>
                    </td>
                </ng-container>

            </tr>
        </tbody>
    </table>
</div>

<div mat-dialog-actions>
    <button class='mat-raised-button mat-primary' (click)='onOK()'>OK</button>
    <button class='mat-raised-button' (click)='onCancel()'>Cancel</button>
</div>
