*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
header{display:block}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,select,textarea{font:inherit;margin:0}
button{overflow:visible}button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{ cursor:pointer; border: 1pt solid #858585; padding: 2px 10px 2px 10px; margin-left: 5px}
button[disabled],html input[disabled]{cursor:default; color: #808080}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input[type=checkbox],input[type=radio]{padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{box-sizing:content-box;-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}pre,textarea{overflow:auto}

html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1,h2,h3,h4,h5,h6,.w3-slim,.w3-wide{font-family:"Segoe UI",Arial,sans-serif}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
h1,h2,h3,h4,h5,h6{font-weight:400;margin:10px 0}.w3-wide{letter-spacing:4px}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font-weight:inherit}
hr{height:0;border:0;border-top:1px solid #eee;margin:20px 0}
img{margin-bottom:-5px}a{color:inherit}
table{border-collapse:collapse;border-spacing:0;width:100%;display:table}
table,th,td{border:none; font-family:"Segoe UI",Arial,sans-serif}
.control-label {border:none; font-family:"Segoe UI", Arial,sans-serif; font-size:12pt; background-color:inherit; padding: 5px}
.control {border:none; font-family:"Segoe UI",Arial,sans-serif; font-size:12pt; background-color:lightgoldenrodyellow;}
.hidden {display:none;}
.visible {display:block;}
.popup-dialog-modal{z-index:3;position:absolute;left:30%;top:30%;width:500px;overflow:auto; background-color:lightgoldenrodyellow}
.popup-dialog-min-link{z-index:3; cursor:pointer; position:absolute; margin-top: 0; top: 10px; right: 250px; width:50%; text-align: right; color:darkred; font-size: 8pt; vertical-align: top;}
.popup-dialog-modal-content{margin:auto; position:relative; padding:5px; outline:0; width:500px; font-family:"Segoe UI",Arial,sans-serif; font-size:15px; border: 4px groove slategray;}
.popup-dialog-text{margin-top: 10px; margin-bottom: 10px; padding:5px; background-color:inherit; position:relative; outline:0; text-align:left; width:480px; font-family:"Segoe UI", Arial,sans-serif; font-size:11pt; font-style: italic; white-space:pre;}
.titleBar{text-decoration:none; font-size:13pt; font-weight:bold; color:inherit; font-family:"Segoe UI",Arial,sans-serif}
.closeBtn{text-decoration:none; float:right; font-size:16pt; font-weight:bold; color:inherit; background-color:lightgray; padding: 0}
.closeBtn:hover,.closeBtn:focus{background-color:#000;text-decoration:none;cursor:pointer}
input[type=text] {height:24px;position:relative;top:6px;bottom:6px; padding:5px;}
input[type=checkbox].w3-check,input[type=radio].w3-radio{width:24px;height:24px;position:relative;top:6px}
input[type=checkbox].w3-check:checked+.w3-validate,input[type=radio].w3-radio:checked+.w3-validate{color:#009688}
input[type=checkbox].w3-check:disabled+.w3-validate,input[type=radio].w3-radio:disabled+.w3-validate{color:#aaa}
