html {background: #ecf2f9; margin: 0px; padding: 0px;}
body {font-family: Verdana; font-size: 12px; padding: 15px;}
/*h1 {font-size: 18px; border: 1px solid #ccc; background: #EEE;} */
h1 {font-size: 18px; /*border: 1px solid #ccc; */ background: #ecf2f9;}
h2 {font-size: 16px; font-family: Georgia; font-style: italic; letter-spacing: 0.2em; background: #EEE;
	border: 1px solid #ccc; font-weight: normal;}
h3 {font-size: 15px; margin-bottom: 0px;}
p {margin-left: 2em;}
dl {margin-left: 2em;}
dt {margin-bottom: 0px;}
dd {margin-left: 1em; margin-top: 0px;}
dd p {margin-top: 0px;}
dl p {margin-bottom: 0.5em;}
h1 span, h3 span {font-family: 'Courier New'; font-weight: normal; font-style: italic;}
var {font-weight: bold; color: #244797;}
label {font-weight: bold; display: block;}
img {padding-left: 8px; padding-top: 8px;}

/*  These control most of the text in the app.         */
table, td {text-align: left; font-family: Verdana; font-size: 11px; border-collapse: collapse;
		   border: 1px solid grey; padding:5px;}
th {text-align: left; font-family: Verdana; font-size: 11px; background-color: #6699cc; border: 1px solid grey;
	border-collapse: collapse; padding-top: 10px; padding-bottom: 10px; padding-left: 5px; padding-right: 5px;}
input {font-family: Verdana; font-size: 10px; border-collapse: collapse;  padding: 2px; width:75px;}
td.modified {border: 1px solid black;  outline: 5px dotted red;}
select {font-family: Verdana; font-size: 10px; padding: 5px;}



a{font-family: "TIMES NEW ROMAN"; font-size: 12px}
a.ppcHw{font-family: "TIMES NEW ROMAN"; font-size: 12px}
a.ppcQl{font-family: "TIMES NEW ROMAN"; font-size: 13px; font-style: italic}

/*  ************************************  */


#demo {margin: 0px auto; width: 500px; border: 2px solid #ccc;}
#demo tr th {width: 250px; background: #eee;}
#demo tr td {width: 250px; vertical-align: top;}
#demo tr > td {white-space: pre;}

.var_type {}
.var_name {}
.prop_type {}
.prop_name {}
.param_type {}
.param_name {}
.func_type {}
.func_name {}

.param_type, .prop_type, .var_type, .func_type {font-style: italic; font-family: 'Courier New'; color: #962424;}
.param_name, .prop_name, .var_name, .func_name {font-weight: bold;}


/* TimeEntry styles */
.timeEntry_control {
	vertical-align: middle;
	margin-left: 2px;
}
* html .timeEntry_control { /* IE only */
	margin-top: -4px;
}


/* Objects for the GUI */
label.process_var {
        
	    width:50px;height:18px;
		background-color:Ivory;
		text-align:center;
		border-style:ridge;
}

valve_state {
		width:45px;height:15px;
		background-color:lightgrey;
		text-align:center;
		border-style:solid;
}