<div data-dojo-attach-point=”containerNode”>
    <div class="parameterPanelButtonRow">
        <button data-dojo-type="dijit.form.Button" data-dojo-attach-point="saveAllButton" data-dojo-attach-event="onClick:onSaveAllButtonClick">Save All</button>
        <button data-dojo-type="dijit.form.Button" data-dojo-attach-point="revertDefaultButton" data-dojo-attach-event="onClick:onDefaultButtonClick">Revert To Default</button>
        <button data-dojo-type="dijit.form.Button" data-dojo-attach-point="revertSavedButton" data-dojo-attach-event="onClick:onSavedButtonClick">Revert To Saved</button>
    </div>
    <div data-dojo-attach-point="treeDiv" class="parameterPanelTreeDiv"></div>
</div>

