

@import url("../../../themes/basePanel/basePanel.css");

.lockedCheckBox
{
    height:100%;
    width:36px;

    padding-left:4px;
    padding-right:4px;
    padding-top:2px;
    padding-bottom:2px;
}


/*style checkbox as breakpoint
 *	Order of images in the default sprite (from L to R, checkbox and radio in same image):
 *		radio		normal 	 - checked
 *							 - unchecked
 *					disabled - checked
 *							 - unchecked
 *					hover 	 - checked
 *							 - unchecked
*/
.dijitCheckBox.lcbLockIcon,
.dijitCheckBoxIcon.lcbLockIcon {
	background-image: url('../images/squareLock.png'); /* checkbox sprite image */
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
}


.dijitCheckBox.lcbBreakPointIcon,
.dijitCheckBoxIcon.lcbBreakPointIcon {
	background-image: url('../images/squareBP.png'); /* checkbox sprite image */
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
}

.dijitCheckBox.lcbBreakPointIcon2,
.dijitCheckBoxIcon.lcbBreakPointIcon2 {
	background-image: url('../images/breakPointCheckBox.png'); /* checkbox sprite image */
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
}
