<div data-dojo-attach-point="containerNode">
    <div data-dojo-attach-point="registerDialog" data-dojo-type="dijit/Dialog" title="Register With BatteryTracker">
        <div data-dojo-attach-point="logEntry" data-dojo-type="dijit/InlineEditBox" 
            data-dojo-props="editor:'dijit/form/Textarea'" width="200px" title="Click to include a log entry"></div>
        <div class="registerButtonsDiv">
            <button data-dojo-type="dijit/form/Button" type="submit" data-dojo-attach-event="onClick:_onSubmitRegisterClick">
                Go</button>
            <button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-event="onClick:_onCancelRegisterClick">
                Cancel</button>
        </div>
    </div>
    <div class="wgpBorder" data-dojo-type="dijit/layout/BorderContainer" data-dojo-attach-point="borderContainer"
        data-dojo-props="design:'sidebar'">
        <div class="wgpLeftPane" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'left'">
            <div class="wgpButtonsDiv baseControlHeader">
                <div data-dojo-type="ppcJs/panel/Download" data-dojo-attach-point="downloadPanel" data-dojo-attach-event="onMouseEnter:createExportContent">
                </div>
                <div class="wgpRegisterBox">
                    <button data-dojo-type="dijit/form/Button" type="button" title="register this test run with the Battery Tracker"
                        data-dojo-attach-event="onClick:_onSaveBatteryTrackerClick">
                        Register 
                    </button>
                </div>
            </div>
            <div class="wgpWindowSelectorDiv">
                <div data-dojo-attach-point="windowSelector" data-dojo-type="ppcJs/control/WindowSelect"
                    data-dojo-props="windowSizeMap:[{key: 3600, value: '1 hour'},
                                                    {key: 18000, value: '5 hours'},
                                                    {key: 86400, value: '24 hours'},
                                                    {key: 432000, value: '5 days'}],
                                    triggerEnabled:true,
                                    triggerDisplayDefaultVisible:true, 
                                    displayMode:1"
                    data-dojo-attach-event="onWindowLengthChange:onSelectWindowLength,
                                            onRealTimeToggle:onRealTimeToggleChange,
                                            onFixedWindowSelected:onGetFixedWindow,
                                            onSwitchChild:onSwitchWindow">
                </div>
            </div>
        </div>
        <div class="wgpGridDiv" data-dojo-attach-point="gridDiv" data-dojo-type="dijit/layout/ContentPane"
            data-dojo-props="region:'center'">
        </div>
    </div>
    <div data-dojo-attach-point="fadeoutAlertBox" data-dojo-type="ppcJs/widget/FadeoutAlertBox"></div>
</div>
