<div class="resourceSummaryPanel" dojoattachpoint="”containerNode”">
    <table id="resourceSummaryGridDiv">
        <thead class="resourceSummaryHeader">
            <tr>
                <th>Name</th>
                <th>Mode</th>
                <th>(AC) MW</th>
                <th>(AC) MVAR</th>
                <th>AC Voltage A</th>
                <th>AC Voltage B</th>
                <th>AC Voltage C</th>
                <th>AC Current A</th>
                <th>AC Current B</th>
                <th>AC Current C</th>
                <th>Frequency</th>
                <th>Total Energy Stored (SOC, MWH)</th>
                <th>Maximum Energy Storage Capacity (MWH)</th>
            </tr>
        </thead>
        <tbody id="resourceSummaryGridBody">
        </tbody>
    </table>
</div>
