th {
    color: black;
    font-size: 16px;
    padding: 0 10px 0 10px !important;
    font-style: normal;
    border: 5px;
    background-color: darkgray;
}

td {
    font-size: 12px;
    padding: 0 5px 0 5px !important;
    font-weight: bold;

}

mat-label {
    color: black;
}
