/* layout for Comment widget */
/* release path */

/* dev path */


@import url("../../../themes/basePanel/basePanel.css");


div.comment
{
    height: 50px;
    margin:0px;
    padding:0px;
}

.cPenIcon
{
    height:16px;
    width:16px;
    background: url(../images/penIcon.gif) no-repeat right 0;
}


