/* layout for AjaxStatusControl */
/* release path */

@import url("../../baseControl/css/baseControl.css");
@import url("../../../themes/basePanel/basePanel.css");
@import url("../../../bizLogic/generic/flashTimer/css/flashTimer.css");

div.ajaxStatusControl
{
    position:relative;
    height: auto;
    width: 100%;
    margin:0px;
    padding:2px;
}

div.asTimeDiv
{
    width: 80px;
    margin:2px;
}

div.asFaultDiv
{
    position:absolute;
    left:0px;
    top:40px;

    color:Red;
    font-weight:bold;
    margin:2px;
}

div.asFaultIconBox
{
    position:absolute;
    top:10px;
    left:120px;
}

.ascHide
{
    /* so won't screen hover/click actions */
    z-index:-1;
    visibility:hidden;
}

.ascShow
{
    z-index:100;
    visibility:visible;
}
