/* layout for IoPanel */
/* release path 
@import url("../../../dojox/grid/resources/Grid.css");
@import url("../../../dojox/grid/resources/soriaGrid.css");
*/

/* universally applicable relative paths */
@import url("../../../themes/loadOverlay.css");
@import url("../../../control/testRunFilteringSelect/css/testRunFilteringSelect.css");

div.batteryTrackerConnectorPanel
{
    height: 100%;
    width: 100%;
    margin:0px;
    padding:0px;
}

div.btcChild
{
    margin:10px 5px 10px 5px;
}
