<div data-dojo-attach-point="containerNode">
  <div class="dcDetailBody domainObjectBody">
    <div class="dcDetailDiv basePanelTable">

	  <div class="basePanelTableRow">
        <span data-dojo-attach-point="DetailName_Span"
        class="basePanelTableCell basePanelLabel dcDetailTitle">
        Device Detail
        </span>
      </div>
      
	  <div class="basePanelTableRow">
        <span class="basePanelTableCell basePanelLabel dcDetailLabel"
		data-dojo-attach-point="OutSenseInfo_Label">
        Device Mode
        </span>
        <span class="basePanelTableCell basePanelInfoBox dcDetailMediumItem"
        data-dojo-attach-point="OutSenseInfo_Span"></span>
      </div>

	  <div class="basePanelTableRow">
        <span class="basePanelTableCell basePanelLabel dcDetailLabel"
		data-dojo-attach-point="DCFaultInfo_Label">
        Fault Status
        </span>
        <span class="basePanelTableCell basePanelInfoBox dcDetailLargeItem"
        data-dojo-attach-point="DCFaultInfo_Span" style="color:red"></span>
      </div>

	  <div class="basePanelTableRow">
        <span class="basePanelTableCell basePanelLabel dcDetailLabel"
		data-dojo-attach-point="DCStatusInfo_Label">
        Device Status
        </span>
        <span class="basePanelTableCell basePanelInfoBox dcDetailLargeItem"
        data-dojo-attach-point="DCStatusInfo_Span"></span>
      </div>

	  <div class="basePanelTableRow">
        <span class="basePanelTableCell basePanelLabel dcDetailLabel"
		data-dojo-attach-point="DCSFVer_Label">
        Software Version
        </span>
        <span class="basePanelTableCell basePanelInfoBox dcDetailMediumItem"
        data-dojo-attach-point="DCSFVer_Span"></span>
      </div>

	  
	</div>
  </div>
</div>
