/* layout for TimeSpanControl */
/* release path */

/* dev path */


@import url("../../../themes/basePanel/basePanel.css");


div.timeSpanControl
{
    height: 100%;
    width: 150px;
    margin:0px;
    padding:0px;
}

tscTable-valueCell
{
    width:20px;
}
