
/* Objects for the GUI */

div.var_label, span.var_label {
    font-size: 12px;
    color: royalblue;
    user-select: none;
    padding-right: 2px;
}

input {
    font-size: 10px;
    user-select: none;
}

button.stateSelectedButton {
    color: #5959DE;
    background-color: #AAAAAA;
    border-bottom-width: 1px;
    border-left-color: #BBBBBB;
    border-top-color: #BBBBBB;
    font-size: 20px;
    font-style: italic;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: default;
    width: auto;
    min-width: 80px;
}

div.process_var, span.process_var, label.process_var {
    position: absolute;
    white-space: nowrap;
    width:55px;
    height:16px;
    color: #003399;
    background-color: khaki;
/*    #background-color: lightyellow; */
    text-align: center;
    font-size: 12px;
    border: 1px solid #c4c4c4;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 2px 2px 2px #d9d9d9;
    -moz-box-shadow: 2px 2px 2px #d9d9d9;
    -webkit-box-shadow: 2px 2px 8px #d9d9d9;
    padding-left: 2px;
    user-select: none;
}

.process_var.red {
    background-color: red;
    color: black;
}

.process_var.yellow {
    background-color: yellow;
    color: black;
}

div.priority, span.priority, label.priority {
    background-color:gold;
    color: black;
    font-size: 14px;
    font-weight: bolder;
}

div.open, span.open, label.open, span.darkRed {
    background-color: darkred;
    color: black;
    font-size: 14px;
    font-weight: bolder;
    width: 50px;
}

div.closed, span.closed, label.closed, span.lightGreen {
    background-color: lightgreen;
    color: black;
    font-size: 14px;
    font-weight: bolder;
    width: 50px;
}

div.transit, span.transit, label.transit, span.blinkOrangeToOrangeRed {
    background-color: orange;
    color: orangered;
    font-size: 14px;
    animation-name: BlinkOrangeToOrangeRed;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
    width: 50px;
}

@keyframes BlinkOrangeToOrangeRed {
    from {color: #962424;}
    to {color: white;}
}

th.dataTableTH {
    border-bottom: 1px solid black;
    text-align: left;
    font-size: 12px;
}

td.dataTableTD {
    border: 1px solid black;
    text-align: left;
    font-size: 12px;
}

tr.odd {
    background-color: #fbfafa;
}

tr.even {
    background-color: #e3e2e2;
}

p.tableTitle {
    font-size: larger;
    margin-left: 0em;
    margin-top: 0em;
    margin-bottom: 0em;
}

table.dataTable {
    position: absolute;
    /*white-space: nowrap;*/
    width: 100%;
    color: #444444;
    background-color: #e3e2e2;
    text-align: left;
/*    #font-size: 14px; */
    border: 1px solid #c4c4c4;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 2px 2px 2px #d9d9d9;
    -moz-box-shadow: 2px 2px 2px #d9d9d9;
    -webkit-box-shadow: 2px 2px 8px #d9d9d9;
    padding-left: 0px;
    user-select: none;
}

td.trip {
    background-color: red;
    color: black;
}

td.warning {
    background-color: yellow;
    color: black;
}

.overlayimage {
    position: absolute;
    left: 3px;
    top: 50px;
    white-space: nowrap;
/*    #width:1900px;*/
/*    #height:800px;*/
}

.impeller-right {
    animation-name: impeller-spin-right;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
}

.impeller-left {
    animation-name: impeller-spin-left;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
}

.rotate_5rpm { animation-duration: 9s; }
.rotate_10rpm { animation-duration: 4.5s; }
.rotate_15rpm { animation-duration: 3s; }
.rotate_20rpm { animation-duration: 2.25s; }
.rotate_25rpm { animation-duration: 1.8s; }
.rotate_30rpm { animation-duration: 1.5s; }
.rotate_35rpm { animation-duration: 1.286s; }
.rotate_40rpm { animation-duration: 1.125s; }
.rotate_45rpm { animation-duration: 1.0s; }
.rotate_50rpm { animation-duration: 0.9s; }
.rotate_55rpm { animation-duration: 0.8181s; }
.rotate_60rpm { animation-duration: 0.75s; }
.rotate_70rpm { animation-duration: 0.6s; }

.stop_rotate {
    animation-duration: unset;
}

@keyframes impeller-spin-right {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes impeller-spin-left {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

#≪Battery_System_Commands≫Remote {position: absolute; top: 10px; left: 220px; width: 100px; font-size: 12px;}
#≪Recent_Events≫Event_Log {position: absolute; top: 10px; left: 1545px; width: 350px;}
#≪Recent_Events≫Active_Faults {position: absolute; top: 350px; left: 1545px; width: 350px;}

#≪Battery_Status≫Battery_Status_Sample {position: absolute; top: 10px; left: 20px;}

#≪Battery_System_Commands≫Sample_Button {position: absolute; top: 10px; left: 220px; width: 100px; font-size: 12px;}
#≪Battery_System_Commands≫Sample_Button_popup {position: absolute; top: 10px; left: 340px; width: 100px; font-size: 12px;}

#≪Pipe_one≫pipe {position: absolute; top: 100px; left: 673px}
#≪Pipe_one≫pipe_one_value {position: absolute; top: 160px; left: 660px}

#≪Pipe_two≫pipe {position: absolute; top: 255px; left: 673px;}
#≪Pipe_two≫pipe_two_value {position: absolute; top: 200px; left: 660px}

#≪Pump_one≫Pump_one {position: absolute; top: 87px; left: 363px; width: 50px; height: 50px;}
#≪Pump_one≫Actual_Speed {position: absolute; top: 160px; left: 363px;}

#≪Pump_two≫Pump_two {position: absolute; top: 247px; left: 363px; width: 50px; height: 50px;}
#≪Pump_two≫Actual_Speed {position: absolute; top: 200px; left: 363px;}

#≪Valve_one≫valve {position: absolute; top: 90px; left: 70px;}
#≪Valve_one≫valve_one_value {position: absolute; top: 160px; left: 70px;}

#≪Valve_two≫valve {position: absolute; top: 250px; left: 70px;}
#≪Valve_two≫valve_two_value {position: absolute; top: 200px; left: 70px;}
