div._control
{
    position:relative;
    margin:0px;
    padding:0px;
    border-collapse:separate;   /* set uniform table border style */
}

div._controlBorder
{
    border-color: #B1BADF;
    border-style:solid;
    border-width:1px;
}

div._controlSelectBorder
{
    border-color:#1E90FF;   /* dodgerblue 1, ref: cloford.com/resources/colours/500col.htm */
    border-style:solid;
    border-width:1px;
}

/* header strip containing control buttons */
._controlHeader
{
    position:relative;
    background-color: #E1EBFB;
    overflow:hidden;
}