<div data-dojo-attach-point="containerNode">
    <div data-dojo-attach-point="loadingOverlay" class="loadingOverlay loadingMessage">Loading...</div>
    <div data-dojo-attach-point="controlsStrip" class="mwcControlsStrip">
        <div class="mwcInlineBlock">
            <div class="mwcInlineBlock">
                <div data-dojo-attach-point="undoRedo" data-dojo-type="ppcJs/widget/UndoRedo"
                    data-dojo-attach-event="onUndo:_onUndoRedo, onRedo:_onUndoRedo">
                </div>
            </div>
            <button data-dojo-type="dijit/form/Button" type="button" title="refresh the current view at higher resolution"
                data-dojo-props="iconClass:'mwcRefreshIcon', showLabel: false"
                data-dojo-attach-event="onClick:_onRefreshClick">
            </button>
            <div class="mwcButtonSpacer mwcInlineBlock"></div>
            <button data-dojo-attach-point="linkToggle" data-dojo-type="ppcJs/widget/CollapseToggle" data-dojo-props="_cssExpandIcon:'mwcToggleExpandIcon'"
                data-dojo-attach-event="onChange:_onLinkToggleChange" type="button" title="show the link to this chart">
            </button>
            <button data-dojo-type="dijit/form/Button" type="button" title="copy this chart to a new window"
                data-dojo-props="iconClass:'mwcCopyWindowIcon', showLabel: false"
                data-dojo-attach-event="onClick:_onCopyWindowClick">
            </button>
        </div>
        <div class="mwcDownloadBox mwcInlineBlock">
            <div data-dojo-attach-point="menuBar" data-dojo-type="dijit/MenuBar">
                <div data-dojo-attach-point="saveMenuItem" data-dojo-type="dijit/PopupMenuBarItem" title="select a sample time period and save to a file">
                    <span>Save to File</span>
                    <div data-dojo-type="dijit/Menu">
                        <div data-dojo-type="dijit/MenuItem" data-dojo-props="resolution:1"
                            data-dojo-attach-event="onClick:_onSaveMenuItemClick">
                            1 second resolution
                        </div>
                        <div data-dojo-type="dijit/MenuItem" data-dojo-props="resolution:10"
                            data-dojo-attach-event="onClick:_onSaveMenuItemClick">
                            10 second resolution
                        </div>
                        <div data-dojo-type="dijit/MenuItem" data-dojo-props="resolution:30"
                            data-dojo-attach-event="onClick:_onSaveMenuItemClick">
                            30 second resolution
                        </div>
                        <div data-dojo-type="dijit/MenuItem" data-dojo-props="resolution:60"
                            data-dojo-attach-event="onClick:_onSaveMenuItemClick">
                            1 minute resolution
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mwcButtonSpacer mwcInlineBlock"></div>
        <span data-dojo-attach-point="titleBox" class="mwcTitleBox basePanelInfoBox"></span>
    </div>
    <div data-dojo-attach-point="linkPane" class="basePanelPopUpFrame basePanelPopUpHide mwcLinkPane">
        <span class="mwcLinkPaneTitle">URL for this chart:</span><br>
        <div data-dojo-attach-point="linkUrl" class="mwcLinkUrl"></div>
    </div>
    <div class="mwcChartContainer">
        <div class="mwcPanButtons">
            <div>
                <button data-dojo-type="dijit/form/Button" type="button" title="pan up"
                    data-dojo-props="iconClass:'mwcPanUpIcon', showLabel: false"
                    data-dojo-attach-event="onClick:_onPanUpClick">
                </button>
            </div>
            <div>
                <button data-dojo-type="dijit/form/Button" type="button" title="pan down"
                    data-dojo-props="iconClass:'mwcPanDownIcon', showLabel: false"
                    data-dojo-attach-event="onClick:_onPanDownClick">
                </button>
            </div>
        </div>
        <div class="mwcVerticalSlider">
            <div data-dojo-type="dijit/form/VerticalSlider" title="vertical zoom"
                data-dojo-props="minimum:1, maximum:10, discreteValues:10, style:'height:200px;'"
                data-dojo-attach-event="onChange:_onVerticalSliderChange">
            </div>
        </div>
        <div data-dojo-attach-point="chartSliderBox" class="mwcChartSliderBox">
            <div data-dojo-attach-point="chartDiv" class="mwcChartBox" data-dojo-attach-event="onclick:_onChartClick, ondblclick:_onChartDoubleClick"></div>
            <div data-dojo-attach-point="sliderLegendBox" class="mwcSliderLegendBox">
                <div class="mwcRangeSlider" title="horizontal zoom and pan">
                    <div data-dojo-attach-point="rangeSlider" data-dojo-type="dojox.form.HorizontalRangeSlider"
                        data-dojo-props="value:[0,1], minimum:0, maximum:1, intermediateChanges:true, discreteValues:100, showButtons:false"
                        data-dojo-attach-event="onChange:_onRangeSliderChange">
                    </div>
                    <div data-dojo-attach-point="sliderReadouts" class="mwcSliderReadouts">
                        <span class="mwcSliderMinReadout basePanelInfoBox" data-dojo-attach-point="sliderMinTime"></span>
                        <span class="mwcSliderMaxReadout basePanelInfoBox" data-dojo-attach-point="sliderMaxTime"></span>
                    </div>
                </div>
                <div data-dojo-attach-point="legendDiv" class="mwcLegend" title="double-click to select/deselect all"
                    data-dojo-attach-event="ondblclick:_onLegendDoubleClick">
                </div>
            </div>
        </div>
    </div>

    <div class="mwcConfigButton">
        <button data-dojo-attach-point="configToggle" data-dojo-type="ppcJs/widget/CollapseToggle" data-dojo-props="_cssExpandIcon:'ctGearIcon'"
            data-dojo-attach-event="onChange:_onConfigToggleChange" type="button" title="more chart settings">
        </button>
    </div>
    <div data-dojo-attach-point="configPane" class="basePanelPopUpFrame basePanelPopUpHide mwcConfigPane">
        <div class="mwcConfigTopDiv">
            <div data-dojo-attach-point="timeZoneToggle" data-dojo-type="ppcJs/widget/BinaryRadioButton" title="set the chart's time zone (left pane window select controls are always in local time)"
                data-dojo-props="radioALabel:'Local Time', radioBLabel:'UTC'" data-dojo-attach-event="onChange:_onZoneChange">
            </div>
        </div>
        <span>Enable Second Y Axis</span>
        <div data-dojo-attach-point="secondaryPlotEnableCheckBox" data-dojo-type="dijit/form/CheckBox" title="Enable Second Y Axis"
            data-dojo-props="checked: true" data-dojo-attach-event="onClick:_onPlotEnableClick">
        </div>

        <div data-dojo-attach-point="secondPlotConfigPane" class="mwcSecondPlotConfigPane basePanelWidgetBorder">
            <div data-dojo-attach-point="secondPlotToggle" data-dojo-type="ppcJs/widget/iPhoneButton"
                data-dojo-props="onText:'AUTO', offText:'MAN'"
                data-dojo-attach-event="onChange:_onSecondPlotAutoManualChange" title="selection mode for second Y axis">
            </div>
            <div data-dojo-attach-point="autoManualConfigStack" data-dojo-type="dijit/layout/StackContainer" class="mwcStackContainer"
                data-dojo-props="doLayout:false">
                <div data-dojo-attach-point="manualYConfigPane" data-dojo-type="dijit/layout/ContentPane" class="mwcStackPane">
                </div>
                <div data-dojo-attach-point="autoYConfigPane" data-dojo-type="dijit/layout/ContentPane" class="mwcStackPane">
                    <div data-dojo-type="dojox/layout/TableContainer" data-dojo-props="cols: 1, labelWidth: 185, showLabels: true">
                        <input data-dojo-attach-point="secondaryPlotRatioSpinner" data-dojo-type="dijit/form/NumberSpinner"
                            data-dojo-props="smallDelta:1, constraints:{min:2,max:10,places:0}, style: 'width:35px'"
                            title="Threshold Ratio For Second Axis"
                            data-dojo-attach-event="onChange:_onPlotRatioSpinnerChange" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div data-dojo-attach-point="fadeoutAlertBox" data-dojo-type="ppcJs/widget/FadeoutAlertBox"></div>
</div>
