/* layout for InsertCommandMenuControl */
/* release path */

/* dev path */

@import url("../../../themes/basePage.css");
@import url("../../../themes/basePanel/basePanel.css");


div.insertCommandMenuControl
{
    width: 75px;
    margin:0px;
    padding:0px;
}

div.icmcNoDeleteHeight
{
    height: 20px;
}

div.icmcDeleteHeight
{
    height: 35px;
}

