<tbody class="L1">
    <tr *ngIf="_uiTab._DataSummary.Section" class='tr-section L1' style="width: 100%">
        <td align="center" class="top-wrapper L1">
            <table align="left" width="300px" class="L2" style="border-style: hidden; border-collapse: collapse;" >
                <tr *ngFor="let sect of _uiTab?._DataSummary?.Section; let sectionIndex = index;  trackBy: sectionTrackBy" [className]="getSectionClassName(sectionIndex)">
                    <td class="L2">
                        <app-section
                                [_section]="sect"
                                [_sectionIndex]="sectionIndex"
                                [_uiTab]="_uiTab"
                        ></app-section>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</tbody>
