/* layout for DcServerData control */
/* release path */
/*@import url("../../../dojox/charting/resources/Legend.css");*/

@import url("../../../themes/domainObjects.css");
@import url("../../../themes/basePanel/basePanel.css");
@import url("../../baseControl/css/baseControl.css");
@import url("../../../bizLogic/generic/flashTimer/css/flashTimer.css");

div.dcServerDataControl
{
    height: 300px;
	width: 150px;
    position:relative;
	float: left;
    margin:0px;
    padding:0px;
}

/* block body */
div.dcBody
{
    position: static;
    height:250px;
    width: 100%;
	padding: 7px;
}

div.dcDataDiv
{
    position:absolute;
    top: 25px;
    right: 3px;
}

.dcDataItem
{
    width:30px;
    height:15px;
    margin:2px;
}

.dcDataRightAlign
{
    float:right;
}

.dcDataCenterAlign
{
    float:center;
}

.dcDataLeftAlign
{
    float:left;
}

.dcDataLabel
{
float:left;
height:15px;
margin:2px;
font-size: 10px;

}

.dcDataTitle
{
float:right;
width:90px;
height:15px;
margin:2px;
font-size: 15px;
font-weight: 400;
}
