/* domain object representation 
   color ref: cloford.com/resources/colours/500col.htm
*/

.domainObjectUnselect
{
    border-style:solid;
    border-width:2px;
    /* lightsteelblue 4 */
    border-color:#6E7B8B;
}

.domainObjectBlock
{
    border-collapse:separate;

    background-clip:padding-box;
}

.domainObjectHeader
{
    /* lightsteelblue 3  */
    background-color:#A2B5CD;
    background-clip:padding-box;
}

.domainObjectBody
{
    /* lightsteelblue 2 */
    background-color: #BCD2EE;
    background-clip:padding-box;
}

.domainObjectInfo
{
    /* lightsteelblue 4 */
    border-color:#6E7B8B;
}