/* layout to replicate legacy topnav panel */

@import url("./basePage.css");

#topNav 
{
    position:absolute;
    top:0px;
    height:75px;
    width:100%;
        
    border-bottom: solid 8px #000099;
    background: #B3DBFF;
}

#innerTopNav
{
    position:relative;
    height:40px;
    width:auto;

    margin-top:10px;
    margin-left:20px;
    margin-right:20px;
    padding:5px;
    
    border: 2px solid #CCCCCC;
    background: #EEEEEE;
}

#stackContainer
{
    /* stretch to fit remaining area */
    position:absolute;
    top:83px;
    left:0px;
    right:0px;
    bottom:0px;
    
    padding:0px;
    
    /*background: #B3DBFF;*/
}

#lpStack
{
    /* stretch height to fill parent, indent sides to align with innerTopNav */
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    
    margin-top:5px;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:5px;
    padding:5px;

    border: solid 1px;
}

#lpResourceNameDiv
{
    /* for centering resource name text */
    display:inline;
    line-height:40px;
}

#pbResourceName
{
    vertical-align:middle;

    font-size:24px;
    font-weight:700;
}

#lpAjaxStatusDiv
{
    float:right;
    display:inline;
    top: 0px;
    height: 100%;
    line-height:15px;
}

#lpLinkBar
{
    float:right;
    display:inline;
    
    margin-top: 25px;
    margin-bottom: 10px;
    margin-right:5px;
    
    /* for centering link text */
    width: 400px;
    height: 15px;
    line-height:15px;
}

#lpHomeLink
{
    position:absolute;
    left: auto;    
    right: 0px;
    top:0px;
    bottom:auto;

    margin-top:5px;
    margin-bottom:5px;
    margin-left:5px;
    margin-right:10px;
}

.linkBarItem
{
    float:right;
    vertical-align:middle;
    
    margin-top:auto;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:auto;
}
