/* general Control css classes and layout for BaseControl dijit 
    color ref: cloford.com/resources/colours/500col.htm
*/

@import url("../../../themes/basePanel/basePanel.css");

div.baseControl
{
    position:relative;
    margin:0px;
    padding:0px;
    
    border-color: #B1BADF;
    border-style:solid;
    border-width:1px;
    border-collapse:separate;   /* set uniform table border style */
}

/* header strip containing control buttons */
.baseControlHeader
{
    position:relative;
    background-color: #E1EBFB;
    overflow:hidden;
}

.baseControlViewToggle
{
    position:relative;
    float:right;
    margin:0px;
    height:30px;
}

.baseControlViewHomeIcon
{
    height:16px;
    width:16px;
    background: url(../images/collapseIcon.gif) no-repeat right 0;
}

.baseControlViewExpandIcon
{
    height:16px;
    width:16px;
    background: url(../images/expandIcon.gif) no-repeat right 0;
}


/* classes for dijits derived from BaseControl below */

div.bcIndicatorDiv
{
}

div.bcDataDiv
{
    margin-top:10px;
}

div.bcShow
{
    display:inherit;
}

div.bcHide
{
    display:none;
}