/* layout for ScriptManagerPanel */
/* release path */

/* dev path */

@import url("../../../themes/basePanel/basePanel.css");
@import url("../../../control/edit/css/edit.css");
@import url("../../../widget/fadeoutAlertBox/css/fadeoutAlertBox.css");
@import url("../../../widget/iPhoneButton/css/iPhoneButton.css");
@import url("../../fileManager/css/fileManager.css");
@import url("../../scriptRunnerList/css/scriptRunnerList.css");
@import url("../../download/css/download.css");

div.scriptManagerPanel
{
    height: 100%;
    width: 100%;
    margin:0px;
    padding:0px;
}

div.smpModeSelectBoxLeft
{
    /*display:inline-block;*/
    width:240px;
    margin-left:5px;
}

div.smpModeSelectBoxRight
{
    /*display:inline-block;*/
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
    width:335px;
}

div.smpFileManagementBox
{
    padding:5px;
}

div.smpBorder
{
    /*height: 100%;
    width: 100%;*/
        /* Conflicting Absolute Positions pattern to stretch height to fill parent */
    position:absolute;
    top:38px;
    left:5px;
    right:5px;
    bottom:5px;
}

div.smpLeftPane
{
    position:relative;
    height: 100%;
    width: 220px;
}

div.smpRightPane
{
    position:relative;
}

.smpInlineBlock
{
    display:inline-block;
    width: 350px;
}

.smpDownloadBlock
{
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
}

.smInsertScriptCancelDiv
{
    padding:5px;
}