/* layout for IoPanel */
/* release path 
@import url("../../../../dojox/grid/resources/Grid.css");
@import url("../../../../dojox/grid/resources/soriaGrid.css");
*/
/* dev path */
@import url("../../../../dojo-toolkit/dojox/grid/resources/Grid.css");
@import url("../../../../dojo-toolkit/dojox/grid/resources/soriaGrid.css");

@import url("../../../themes/basePanel/basePanel.css");
@import url("../../../control/loadServerData/css/loadServerData.css");
@import url("../../../control/loadServerData/css/loadDetailData.css");

div.loadServerPanel
{
    height: 100%;
    width: 100%;
    margin:0px;
    padding:0px;
}

div.loadServerDataTable
{
    position:relative;
    top: 25px;
	height: 330px;
	width: 680px;

}

div.loadServerDataDetail
{
    position:relative;
    top: 5px;
	height: 50px;
	width: 2000px;

}

div.loadServerBorder
{
    height: 100%;
    width: 100%;
}

div.loadServerLeftPane
{
    position:relative;
    width: 30%;
    overflow:auto;
}

div.loadServerCenterPane
{
    /*light steel blue*/
    background-color: #BCD2EE;
    height: 100%;
	width: 70%;
    overflow:auto;
}

.loadServerControlRow
{
    padding:3px;
}

div.loadServerDataField
{
    height: 100%;
    width: 33%;
    overflow:auto;
}

div.loadServerDataHeader
{
    height: 100%;
    width: 33%;
    overflow:auto;
}

.loadServerButton
{
	/*display: block;*/
    width:200px;
	float:left;
	/*color: red;*/
	/*height: 150px;*/
    /*position:static;*/
}

.btnWidth .dijitButtonNode 
{ 
   width: 100px 
   /*!important; */
}

.lineBreak
{
	size: 30px
}
.loadServerNumberInput
{
    width:10px;
    /*position:static;*/
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    margin-bottom:0px;
}
