/* layout for BlockSummaryPanel */

@import url("../../../dojo-toolkit/dojox/grid/resources/Grid.css");
@import url("../../../dojo-toolkit/dojox/grid/resources/tundraGrid.css");

div.blockSummaryPanel 
{
/*    margin: 5px;*/
    height: 100%;
    width: 100%;
}

div.blockSummaryGrid
{
    height: 100%;
    width: 100%;
}

