<!-- Implemented Overlays -->

<div *ngIf="isMissingFiles" id="warning-div" >
    <details id="warning-details">
        <summary id="warning-summary"><p align="center">&#9888;</p></summary>
        <div id="warning-content">
            <p>The following files are missing:</p>
            <ul>
                <li *ngFor="let filename of missingFiles">{{ filename }}</li>
            </ul>
        </div>
    </details>
</div>




<div *ngFor='let overlayGroupName of _imageOverlayGroupNames' class='implemented_overlays' valign='top'
     creator='overlayGroups-ngFor'>

    <div *ngFor='let varInfo of get_implemented_dyns_in_group(overlayGroupName)'
         [id]='varInfo.id'
         [title]='varInfo.desc' creator='impl-dyn-ngFor'>
        <span *ngIf='varInfo.label'
              [id]='varInfo.id + "_label"'
              class='var_label'>{{this.splitPrefix(varInfo.label)}}</span>
        <span *ngIf='((varInfo.value !== "") && (varInfo.units !== "bool"))'
              [class]='"process_var " + varInfo.class' [id]='varInfo.id + "_value"'>{{ formatValue(overlayGroupName, varInfo.id, true) }}</span>
        <span *ngIf='((varInfo.value !== "") && (varInfo.units === "bool"))'
              [class]='"process_var " + varInfo.class + " ro_bool"' [id]='varInfo.id + "_value"'>{{ formatValue(overlayGroupName, varInfo.id, true) }}</span>
        <app-command-button *ngIf='varInfo.command'
                            [id]='varInfo.command.id'
                            class="overlay-control"
                            [_uiTab]='_uiTab'
                            [element]='getElement(varInfo)'
                            [_container]='varInfo.id'
                            [_sha1sum]="varInfo.sha1sum?varInfo.sha1sum:0"
        >
        </app-command-button>
    </div>

    <div *ngFor='let commandInfo of get_implemented_commands_in_group(overlayGroupName)'
         [id]="commandInfo.json.id"
         [title]='commandInfo.desc' creator='impl-commands-ngFor'>
        <div *ngIf='hasCommandLabel(commandInfo)'
             [id]="commandInfo.json.id + '_label'"
             class='var_label'>{{this.splitPrefix(commandInfo.json.id)}}
        </div>
            <app-command-button [id]="commandInfo.json.id + '_button'"
                                class="overlay-control"
                                [_uiTab]='_uiTab'
                                [element]='getElement(commandInfo)'
                                [_container]='commandInfo.json.id'
                                [_sha1sum]="commandInfo.sha1sum?commandInfo.sha1sum:0"
                                #btn
            >
            </app-command-button>
    </div>

    <div *ngFor='let imgInfo of get_implemented_images_in_group(overlayGroupName)'
         creator='impl-images-ngFor'>
        <span [title]="imgInfo.desc">
            <img [id]='imgInfo.id'
                [class]='imgInfo.class'
                [src]='getImgSrc(overlayGroupName, imgInfo)'
            >
        </span>
    </div>

    <div *ngFor='let imgInfo of get_implemented_animations_in_group(overlayGroupName)'>
        <span [title]="imgInfo.desc">
            <img [id]='imgInfo.id'
                [class]='imgInfo.class'
                [src]='getAnimationSrc(overlayGroupName, imgInfo)'
            >
        </span>
    </div>

    <div *ngIf="get_implemented_defined_table_in_group(overlayGroupName, 'Event_Log') as tableInfo"
         [id]='tableInfo.id'
         [title]='"tableName: " + tableInfo.id'>
        <p *ngIf="tableInfo.label!==''" class="tableTitle">{{tableInfo.label}}</p>
        <table [id]='tableInfo.id + "_table"' class='dataTable'>
            <tr>
                <th *ngFor="let rowHeader of tableInfo.json.Col;" class='dataTableTH'>{{rowHeader.value}}</th>
            </tr>
            <tr *ngFor="let tblRD of tableInfo.json.Row; let even = even; let odd = odd"
                [ngClass]="{ odd: odd, even: even }">
                <td *ngFor="let dataElement of tblRD.Col;" class='dataTableTD'>{{dataElement.value}}</td>
            </tr>
        </table>
    </div>

    <div *ngIf="get_implemented_defined_table_in_group(overlayGroupName, 'Active_Faults') as tableInfo"
         [id]='tableInfo.id'
         [title]='"tableName: " + tableInfo.id' creator='impl-tables-ngIf'>
        <p class="tableTitle">Active Faults & Warnings</p>
        <table [id]='tableInfo.id + "_table"' class='dataTable'>
            <tr>
                <th class='dataTableTH'>Time</th>
                <th class='dataTableTH'>Type</th>
                <th class='dataTableTH'>Description</th>
            </tr>
            <tr *ngFor="let tblRD of tableInfo.json.Fault let even = even; let odd = odd"
                [ngClass]="{ odd: odd, even: even }">
                <td class='dataTableTD'>{{tblRD.timestamp}}</td>
                <td class='dataTableTD'>{{tblRD.fault_code}} : {{tblRD.name}}</td>
                <td [ngClass]='"dataTableTD " + tblRD.class'>{{tblRD.value}}</td>
            </tr>
        </table>
    </div>

    <div *ngIf="get_implemented_defined_table_in_group(overlayGroupName, 'NonExhistant') as tableInfo"
         [id]='tableInfo.id'
         class='dataTable'
         [title]='"tableName: " + tableInfo.id' creator='impl-tables-ngIf'>
        <table [id]='tableInfo.id + "_table"'>
            <tr>
                <th>ShouldNotBe</th>
                <th>JustToTest function of ngIf</th>
                <th>TO BE REMOVED AT A LATER DATE ONCE THE TWO TABLES ABOVE ARE MADE GENERIC SOMEHOW</th>
            </tr>
            <tr>
                <td>{{tableInfo.json.Event.timestamp}}</td>
                <td>{{tableInfo.json.Event.type}}</td>
                <td>{{tableInfo.json.Event.value}}</td>
            </tr>
        </table>
    </div>

</div>
