<div data-dojo-attach-point="containerNode">
    <div data-dojo-attach-point="ajaxStatus" data-dojo-type="ppcJs/control/AjaxStatus" data-dojo-props="showWhenNoFault:false">
    </div>
    <div data-dojo-attach-point="diagramContainer"></div>
    <div class="sdpConfigButton">
        <button data-dojo-attach-point="configToggle" data-dojo-type="ppcJs/widget/CollapseToggle" data-dojo-props="_cssExpandIcon:'ctGearIcon'"
            data-dojo-attach-event="onChange:_onConfigToggleChange" type="button" title="show/hide items">
        </button>
    </div>
    <div data-dojo-attach-point="configPane" class="basePanelPopUpFrame basePanelPopUpHide sdpConfigPane">
        <span class="sdpConfigPaneTitle">Show:</span><br>
        <div data-dojo-attach-point="configTable"></div>
    </div>
</div>
