/* layout for BinaryRadioButton widget */
/* release path */

/* dev path */


@import url("../../../themes/basePanel/basePanel.css");


div.binaryMomentaryButton
{
    height: 30px;
    width: 55px;

    margin:0px;
    padding:5px;
    position:relative;
}

div.bmbAddDiv
{
    position:absolute;
    left:0px;
    top:0px;
}

div.bmbRemoveDiv
{
    position:absolute;
    left:0px;
    top:0px;
}

div.bmbOptionMenu
{
    position: absolute;
    left: 38px;
    top: 0px;
    max-height: 70px;
    width: 300px;
    overflow-y: auto;
    z-index: 1;
    background-color: antiquewhite;
}

.bmbOptionLink
{
    float:left;
    padding: 5px;
}

.bmbOptionLinkHover
{
    /*.soria .dijitMenuPassive .dijitMenuItemHover*/
    background-color:#d9e6f9;
}


.bmbAddIcon
{
    height:20px;
    width:20px;
    background: url(../images/add.gif) no-repeat right 0;
}

.bmbRemoveIcon
{
    height:20px;
    width:20px;
    background: url(../images/remove.gif) no-repeat right 0;
}



